{% if search.items is defined %}
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-6 gap-6">
        {% for book in search.items %}
            <div class="flex flex-col justify-between border rounded-lg overflow-hidden shadow-md bg-white">
                {% if book.volumeInfo.imageLinks is defined %}
                    <img src="{{ book.volumeInfo.imageLinks.thumbnail }}" alt="{{ book.volumeInfo.title }}" class="w-full h-48 object-cover p-2">
                    <hr>
                {% else %}
                    <div class="w-full h-48 bg-gray-200 flex items-center justify-center">
                        <span class="text-gray-500">Image non disponible</span>
                    </div>
                {% endif %}
                <div class="p-4 flex-grow">
                    <h3 class="text-lg font-semibold mb-2"><b>Titre :</b> {{ book.volumeInfo.title }}</h3>
                    {% if book.volumeInfo.authors is defined %}
                        <p class="text-gray-700 mb-2"><b>Auteur:</b> {% for author in book.volumeInfo.authors %}{{ author }}{% if not loop.last %}, {% endif %}{% endfor %}</p>
                    {% endif %}
                    {% if book.volumeInfo.publishedDate is defined %}
                        <p class="text-gray-700 mb-2"><b>Date de publication:</b> {{ book.volumeInfo.publishedDate }}</p>
                        <p class="text-gray-700 mb-2"><b>Editeur:</b> {{ book.volumeInfo.publisher }}</p>
                    {% endif %}
                </div>
                <a href="{{ path('app_profile_search_add', {'id': book.id}) }}" class="block bg-blue-500 hover:bg-blue-600 text-white text-center font-semibold py-2 px-8 rounded ">
                    Ajouter à ma liste
                </a>
            </div>
        {% endfor %}
    </div>
{% endif %}

