{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!
{% endblock %}

{% block body %}

  <div class="container mx-auto py-8">
        <div class="max-w-md mx-auto bg-white rounded-lg shadow-md p-6">
            <h2 class="text-2xl text-center mb-4">Recherche une live</h2>
            <div class="flex justify-center items-center">
                <input
                    class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500"
                    type="search"
                    name="search"
                    placeholder="Begin Typing To Search Books"
                    hx-post="search/api"
                    hx-trigger="keyup changed delay:250ms, search"
                    hx-target="#search-results"
                >
            </div>
        </div>
    </div>
</div>
<div id="search-results"></div>

{% endblock %}
